
<% # Check if the current user is the ADMIN or the creator of the post %>
<% if current_user.uid == @news_post.userID  || current_user.uid == "110391296899575374577" %>
  <center>
  <div class="news posts delete">
    <h2>Post to be deleted</h2>

    <%= form_for(@news_post, :method => 'delete') do |f| %>

      <% # Displaying the event to be deleted %>
      <p>Are you sure you want to permanently delete this post?</p>
      <div class="mx-auto" style="width: 300px; margin-left: auto; margin-right: auto;">
        <div class="card" style="width: 300px; border: 3px solid black; margin-left: auto; margin-right: auto;">
          <div class="card-body"><center>
            <h3 class="card-title"><strong><%= @news_post.title %></strong></h3>
            <p class="card-text"><em><%= @news_post.description %></em></p>
          </center></div>
        </div>
      </div>

      <% # Displaying button to confirm deletion %>
      <div class="form-buttons">
        <%= f.submit("Delete News Post") %>
      </div>

    <% end %>
    <% # Displaying button to cancel deletion %>
  </div>
  <%= link_to 'Back', news_posts_path %>
  </center>
<% else %>
<% # If the user is not an ADMIN, redirect them back %>
  <center>
  <h1>Not your post!</h1>
  <%= link_to 'Back', news_post_path %>
  </center>
<% end %>
