<head>
  <style>

    h1 {
      text-align: center;
    }

    .card {
      text-align: center;
    }

    .css_img {
      width: 100%;
    }

    .container {
      max-width: 65em;
      margin: 0 auto;
    }

    .button-container {
      margin-left: auto;
      margin-right: auto;
      justify-content: center;
      width: 8em;
    }

    .del-event {
      text-align: center;
    }

  </style>
</head>

<% # Check if the current user is the ADMIN %>
<% if current_user.uid == "110391296899575374577" %>
  <p id="notice"><%= notice %></p>

  <% # Displaying title of event to be deleted %>
  <h1> Deleting <%= @event.title %> </h1>

  <div class="del-event">
    <%= form_for(@event, :method => 'delete') do |f| %>

      <p>Are you sure you want to permanently delete this event?</p>
      <p><%= @event.title %></p>

      <% # Displaying buttons to confirm and cancel deletion %>
      <div class="form-buttons">
        <%= f.submit("Delete Event") %>
        <%= link_to '<button type="button"> Back </button>'.html_safe, events_path %>
      </div>

    <% end %>
    <br>
    <br>
  </div>

<% # Displaying the event to be deleted %>
  <div class="container">
          <div class="card mb-3">
            <div class="row g-0">
              <div class="col-md-4">
              <% if @event.photo.attached? %>
                <%= image_tag(@event.photo, width: 200) %>
              <% else %>
                <%= image_tag("https://nick-network.s3.us-east-2.amazonaws.com/Default.jpg", class: "css_img") %>
              <% end %>
              </div>
              <div class="col-md-8">
                <div class="card-body">
                  <p class="card-text"> <%= @event.description %> </p>
                </div>

                <table class="table table-sm">
                  <colgroup>
                    <col span="1" style="width: 28%;">
                    <col span="1" style="width: 72%;">
                  </colgroup>

                  <tbody>
                    <tr>
                      <th scope="row", style="font-weight: normal; color: gray;"> Time </th>
                      <td> <%= @event.date_time.strftime("%m/%d/%Y at %I:%M%p") %> </td>
                    </tr>
                    <tr>
                      <th scope="row", style="font-weight: normal; color: gray;"> Location </th>
                      <td> <%= @event.location %> </td>
                    </tr>
                    <tr>
                      <th scope="row", style="font-weight: normal; color: gray;"> Additional Requirements </th>
                      <td> <%= @event.add_req %> </td>
                    </tr>
                    <tr>
                      <th scope="row", style="font-weight: normal; color: gray;"> Created on </th>
                      <td> <%= @event.created_at.strftime("%m/%d/%Y at %I:%M%p") %> </td>
                    </tr>
                    <tr>
                      <th scope="row", style="font-weight: normal; color: gray;"> Last updated on </th>
                      <td> <%= @event.updated_at.strftime("%m/%d/%Y at %I:%M%p") %> </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
  </div>
<% else %>
<% # If the user is not an ADMIN, redirect them back %>
  <center>
  <h1>You're not an admin!</h1>
  <%= link_to 'Back', events_path %>
  </center>
<% end %>
